<!-- This html file represents our form front end for Melodie --->

        <form method='POST' action='' class="form-horizontal">

            {{ form.hidden_tag() }}

            <br>

                <div class="form-group row">

                    <div class="col-md-10 mx-auto">

                        {{

                        form.file_name(placeholder="Enter a file name here.",
                                       class_="form-control text-center")
                        }}

                    </div>

                </div>

            <br> <br>

            <div class="row text-center">

                <div class="form-group col-md-10 mx-auto">

                    {{ form.tempo(class_="form-control-range", min=60, max=220,
                    oninput="sliderId.value = form.tempo.value") }}

                    <br>

                    {{ form.tempo.label(class_="control-label") }}

                    <output name="sliderLabel" id="sliderId">Wiggle me!</output>

                </div>

            </div>

            <br>

            <div class="row">

                <div class="form-group col-md-6">

                    {{ form.rhythm_length.label(class_="control-label col-md-3")}}
                    {{ form.rhythm_length(
                    class_="form-control text-align-center") }}

                </div>

                <br>

                <div class="form-group col-md-6">

                    {{ form.time_signature.label(class_="control-label") }}
                    {{ form.time_signature(
                    class_="form-control text-align-center") }}

                </div>

            </div>

            <br> <br>

            <div class="row">

                <div class="form-group col-md-6">

                {{ form.musical_key.label(class_="control-label") }}
                {{ form.musical_key(
                    class_="form-control text-align-center") }}

                </div>

                <br>

                <div class="form-group col-md-6">


                {{ form.musical_scale.label(class_="control-label") }}
                {{ form.musical_scale(
                    class_="form-control text-align-center") }}

                </div>

            </div>

            <br> <br>

            <div class="btn">

                {{ form.go(class_="btn btn-success") }}

            </div>

        </form>