<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom Styles -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='main_page.css') }}">

    <!-- Title and Favicon -->

    <title>{{ title }}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body class="bg">

    <div class="card bg-opaque text-center mx-3 my-3">

        <div class="card-body">

                <header class="row">

                    <div class="col-md-12">

                        <div class ='container'>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %
                                    {% for category, message in messages %}
                                        {% if category == 'danger' %}
                                            <div class="alert alert-{{category}}" role="alert">  ert. -->
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                        {% if category == 'warning' %}
                                            <div class="alert alert-{{category}}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                        {% if category == 'success' %}
                                            <div class="alert alert-{{category}}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                        {% if category == 'primary' %}
                                            <div class="alert alert-{{category}}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                        </div>

                        <h1>Welcome to Mélodie</h1>

                        <h3>🎼 🎹 🎵 🎶 📻 🎤 🎺  🎧 🎻 🎙️ 👨‍🎤 👩‍🎤 🎷 🎸</h3>

                        <h2 class="text-muted"><small>A melody machine API,
                            used by over {{ num_downloads }} uninspired
                            musicians.</small></h2>

                    </div>

                </header>

                <div class="row">

                    <div class = "col-md-12">
                        {% include "form.html" %}
                        {% block download %} {% endblock %}
                    </div>

                </div>

                <br>


                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                        crossorigin="anonymous"></script>

                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                        crossorigin="anonymous"></script>

                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                        crossorigin="anonymous"></script>

        </div>

        <footer class="container-footer text-center">

            <div class="row">

                <div class="col-md-12">

                    <h5 class="text-success">Created by Joshua Higginson for QA
                        Consulting.</h5>

                    <br>

                </div>

            </div>

        </footer>

    </div>


</body>

</html>